.btn-primary {
    border: 2px solid $green;
    width: 182px;
    height: 46px;
    border-radius: 15px;
    color: $green;
    font-family: $secondaryFont;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
}
