#about {
    .about-img {
        margin-bottom: 25px;
    }
    padding: 5% 5% 10% 5%;
    font-family: $primaryFont;
    color: $white;
    .title {
        color: $lightBlue;
        text-transform: uppercase;
    }
    .skills {
        margin-top: 25px;
        .subtitle {
            text-transform: uppercase;
            color: $green;
        }
        .brands {
            padding: 5px 0 10px 0;
        }
    }
    .about-img {
        img {
            width: 100%;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #about {
        .title {
            font-size: 5vw;
        }
        p {
            font-size: 3vw;
        }
        .subtitle {
            font-size: 3vw;
        }
    }
}
@media all and (min-width: 1024px) {
    #about {
        .about-img {
            width: 60%;
            margin: auto;
        }
        .about-text {
            margin-top: 5%;
            .title {
                font-size: 3vw;
            }
            p {
                font-size: 1.5vw;
            }
            .subtitle {
                font-size: 1.5vw;
            }
        }
    }
}
@media all and (min-width: 1280px) {
    #about {
        display: flex;
        align-items: center;
        padding: 2rem 6rem;
        .about-img {
            width: 80%;
            margin: 0;
            padding-bottom: 50px;
        }
        .about-text {
            margin: 0;
            padding-bottom: 50px;
            .title {
                font-size: 2vw;
            }
            p {
                font-size: 1vw;
            }
            .subtitle {
                font-size: 1vw;
            }
        }
    }
}
