#contact {
    padding: 1rem 2rem 5rem 2rem;
    .info-contact {
        padding-top: 2rem;
        .info-contact-graphic {
            display: none;
        }
        .item-info-contact {
            display: flex;
            align-items: center;
            padding: 5px 0;
            a {
                font-family: $secondaryFont;
                font-size: 12px;
                color: $white;
                text-decoration: none;
                margin-left: 10px;
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #contact {
        padding: 2rem 6rem 15rem 6rem;
        .info-contact {
            padding-top: 4rem;
        }
    }
}
@media all and (min-width: 1024px) {
    #contact {
        padding: 1rem 2rem 10rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        form {
            width: 45%;
            align-self: flex-end;
        }
        .info-contact {
            padding: 0;
            padding-left: 5%;
            margin: auto;
            .info-contact-graphic {
                width: 60%;
                display: block;
                margin-left: 5%;
            }
            .item-info-contact {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
@media all and (min-width: 1390px) {
    #contact {
        padding: 1rem 2rem 2rem 6rem;
        form {
            width: 40%;
            .form-control {
                padding: 30px 0
            }
        }
        .info-contact {
            .info-contact-graphic {
                width: 100%;
                margin-left: 5%;
            }
            .item-info-contact {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}
