#home {
    padding: 2rem;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .home-image {
        text-align: center;
    }
    .home-text {
        color: $white;
        font-family: $robotoRegular;
        h1 {
            margin: 5px 0;
            color: $lightBlue;
            font-family: $montserrat;
            font-size: 2rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.2rem;
        }
    }
}
@media all and (min-width: 480px) and (max-width: 767px){  }
@media all and (min-width: 768px) and (max-width: 959px) {  }
@media all and (min-width: 960px) and (max-width: 1199px) {  }
@media all and (min-width:1200px){  }
