.alert {
    width: 350px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 0 0 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $primaryFont;
    font-size: 12px;
    color: $white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 99999;
    .alert-close {
        position: absolute;
        top: 10px;
        right: 15px;
        color: $white;
        font-weight: 800;
        &:hover {
            cursor: pointer;
        }
    }
}
