.card-portfolio {
    position: relative;
    text-transform: uppercase;
    width: 230px!important;
    margin-right: 15px;
    height: 330px;
    border-radius: 20px;
    transition: all .1s ease-in;
    &:hover {
        .card-portfolio-image {
            filter: saturate(1);
        }
    }
    .card-portfolio-image {
        width: 230px!important;
        margin-right: 15px;
        height: 330px;
        border-radius: 20px;
    }
    .card-portfolio-footer {
        position: absolute;
        width: 230px;
        height: 70px;
        bottom: 0px;
        background: #00e1ffd7;
        border-radius: 0px 20px 20px 20px;
        padding: 10px 16px;
        font-family: $primaryFont;
        h5 {
            font-family: $primaryFont;
            font-style: normal;
            font-weight: 900;
            line-height: 15px;
        }
        a {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 15px;
            color: $black;
            text-decoration: none;
        }
    }
}

