.title-page {
    position: relative;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 900;
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.63);
}
@media all and (min-width: 1024px) {
    .title-page {
        font-size: 4vw;
    }
}
@media all and (min-width: 1390px) {
    .title-page {
        font-size: 3vw;
    }
}
