.title-page {
    position: absolute;
    bottom: -15px;
    right: 0px;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 900;
    font-size: 15vw;
    line-height: 78px;
    color: $black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}
