@font-face {
    font-family: "Roboto Mono", monospace;
    src: local("../fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat", sans-serif;
    src: local("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Roboto Mono", monospace;
$green: #48ff22;
$lightBlue: #00e3ff;
$black: #2a2530;
$white: #fff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $black;
    background-image: url("assets/img/background.svg");
    background-size: cover;
}
#layout-page {
    position: relative;
    padding-top: 1rem;
}
.img-fluid {
    width: 100%;
}
.d-flex {
    display: flex !important;
}
.pr-3 {
    padding-right: 2rem !important;
}
