/* nunito-regular - latin */
@font-face {
    font-family: 'Montserrat regular';
    font-style: normal;
    font-weight: 400;
    src: local('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), 
  }
@font-face{ 
    font-family: 'Roboto Mono', monospace;
    src: local('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
};

$primaryFont: 'Montserrat regular', sans-serif;
$secondaryFont: 'Roboto Mono', monospace;
$green: #48FF22;
$lightBlue: #00E3FF;
$black: #2A2530;
$white: #FFF;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $black;
}
#layout-page {
    position: relative;
}
.img-fluid {
    width: 100%;
}